p {
    /* Hex Codes */
    color: #000;
    /* White Color */
    background-color: rgba(255,255,255,0.8);
    background-color: hsl(hue, saturation, lightness);
    /* can be hsla too,a here is opacity. */
}